node_modules
.vscode
.prettierignore
dist
backend/src/assignments/results
issues
scripts
tools
frontend-old
frontend/start-frontend.sh
backend/start-backend.sh
*scripts.tar.gz

# terrafrom
.terraform
terraform.tfstate*