:root {
  line-height: 1.5;
}

body {
  margin: 0;
}

.app {
  min-height: 100vh;
  padding: 16px 24px;
  background:
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    #1b1b1b;
  background-size: 32px 32px;
}

h1 {
  line-height: 1.1;
}