.avatar-image-extra {
    background: #1f1f1f;
    border: 2px solid #555;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

.avatar-image-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}