body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myContentClass {
	background: lightblue;
}


/* mermaid */
.myMarkdownContainer {
	overflow-y: scroll;
	height: calc(100vh - 210px);
	width: calc(50vw - 20px);
}


/* xterm.js and terminal classes */
.myTerminalTab {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 130px);
	width: calc(50vw - 20px);
}

.myTerminalTabPanel {
	height: calc(100vh - 180px);
}

.myTerminalTabFullscreenPanel {
	height: calc(100vh - 50px);
}

.myTerminalContainer {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.myTerminal {
	flex: 1;
	height: inherit;
	min-height: 0;
}

.myXtermClass {
	height: 100%;
	padding: 2px;
}

.myFullscreenTerminalTab {
  z-index: 200;  
  position: fixed; 
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.myFullscreenButton {
  z-index: 255;
}


/* monaco & editor classes */
.myMonacoClass {
	width: calc(50vw - 20px);
	height: calc(100vh - 130px);
	padding: 2px;
}

.myGlyphMarginClass {
	background: red;
}

.myEditorTabContainer {
	height: calc(100vh - 220px);
	width: calc(50vw - 20px);
}


/* yjs */
.yRemoteSelection {
  background-color: rgb(250, 129, 0, .5)
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: orange solid 2px;
  border-top: orange solid 2px;
  border-bottom: orange solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border: 3px solid orange;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}


/* guacamole */
#guacContainer {
  overflow: hidden;
  cursor: none;
}

#guacInput {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 0px;
  height: 0px;
  opacity: 0;
  z-index: -5;
}

#guacErrorMessage {
  display: none;
}

#guacLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.guacTerminal {
  position: relative;
}