body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myGlyphMarginClass {
	background: red;
}

.myContentClass {
	background: lightblue;
}

.myMarkdownContainer {
	overflow-y: scroll;
	height: calc(100vh - 210px);
	width: calc(50vw - 20px);
}

.myTerminalTab {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 230px);
	width: calc(50vw - 20px);
}

.myTerminalContainer {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.myTerminal {
	flex: 1;
	height: inherit;
	min-height: 0;
}

.myXtermClass {
	height: 100%;
	padding: 2px;
}

.myEditorTabContainer {
	height: calc(100vh - 220px);
	width: calc(50vw - 20px);
}

.myMonacoClass {
	width: calc(50vw - 20px);
	height: calc(100vh - 130px);
	padding: 2px;
}
