body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myGlyphMarginClass {
	background: red;
}

.myContentClass {
	background: lightblue;
}

.myMarkdownContainer {
	overflow-y: scroll;
	height: calc(100vh - 210px);
	width: calc(50vw - 20px);
}

.myTerminalTab {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - 130px);
	width: calc(50vw - 20px);
}

.myTerminalTabPanel {
	height: calc(100vh - 180px);
}

.myTerminalTabFullscreenPanel {
	height: calc(100vh - 50px);
}

.myTerminalContainer {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.myTerminal {
	flex: 1;
	height: inherit;
	min-height: 0;
}

.myXtermClass {
	height: 100%;
	padding: 2px;
}

.myFullscreenTerminalTab {
  z-index: 200;  
  position: fixed; 
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.myFullscreenButton {
  z-index: 255;
}

.myEditorTabContainer {
	height: calc(100vh - 220px);
	width: calc(50vw - 20px);
}

.myMonacoClass {
	width: calc(50vw - 20px);
	height: calc(100vh - 130px);
	padding: 2px;
}

.monaco-remote-cursor {
  position: absolute;
  pointer-events: none;
  z-index: 4000;
  width: 2px;
}

.monaco-remote-cursor:before {
  content: "";
  width: 6px;
  height: 5px;
  display: block;
  margin-left: -2px;
  margin-top: 0;
  z-index: 4000;
  background: inherit;
}

.monaco-remote-cursor-tooltip {
  position: absolute;
  white-space: nowrap;
  color: #FFFFFF;
  text-shadow: 0 0 1px #000000;
  opacity: 1.0;
  font-size: 12px;
  padding: 2px;
  font-family: sans-serif;
  z-index: 4000;

  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.monaco-remote-selection {
  position: absolute;
  pointer-events: auto;
  opacity: 0.3;
  background: blue;
}
