name: Build images via buildx bake

on: [push]

#on:
  #push:
  #  tags:
   #   - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images from compose using bake
        run: |
          docker buildx bake -f docker-compose-build.yml \
            --file docker-compose-build.yml \
            --push
